@import '@/styles/color.scss';

.customButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 40px;
  padding: 0 16px;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  color: $WHITE;
  background: $PRIMARY_DARK;
  transition: color 0.3s, background 0.3s, box-shadow 0.3s;
  cursor: pointer;
  &.defaultShadow {
    box-shadow: 16px 20px 40px rgba($color: $PRIMARY_DARK, $alpha: 0.5);
  }
  &:hover {
    box-shadow: 16px 20px 40px rgba($color: $PRIMARY_DARK, $alpha: 0.5);
  }
  &:active {
    box-shadow: 16px -20px 40px rgba($color: $PRIMARY_DARK, $alpha: 0.5);
  }
  &:disabled {
    box-shadow: none;
    color: #8F8F8F;
    background: #C1C2C4;
    cursor: not-allowed;
    &.loading {
      color: $WHITE;
      background: $PRIMARY_DARK;
    }
  }
  .spin {
    animation: rotate 1.5s linear infinite;
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}