@import '@/styles/_base.scss';

.wrapper {
  background: $WHITE;
  color: $WHITE;
  width: 100%;
  .welcome {
    min-height: 250px;
    background-size: 100% 100%;
    background-image: url('/images/trackTrace/trackTrace.jpg');
    .container {
      background-color: rgba(0, 0, 0, 0.4);
      max-height: 250px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .textCol {
        padding: 92px 16px;

        h1 {
          font-weight: 700;
          font-size: 38px;
          line-height: 38px;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          margin: 0;
          text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .desc {
          margin-top: 8px;
          font-size: 22px;
          line-height: 22px;
          letter-spacing: 0.02em;
        }
      }
    }
  }
  .search {
    max-width: 1200px;
    width: 100%;
    padding: 24px;
    .searchBox {
      width: 100%;
      background-color: #e7eeff;
      padding: 24px;
      border-radius: 8px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      .title {
        color: $BLACK;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 16px;
      }
    }
    .returnData {
      padding: 16px;

      .result {
        .information {
          padding: 56px 16px 16px;
          .header {
            color: #000;
            font-family: Inter;
            font-size: 18px;
            font-weight: 600;
            .boxHeader {
              width: 5px;
              height: 30px;
              margin-right: 24px;
              background-color: #f00;
            }
          }
          .box {
            margin-top: 24px;
            color: #000;
            border-radius: 12px;
            background: #eee;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            .nameFrom {
              font-size: 16px;
              font-weight: 600;
              margin: 6px 0;
            }
            .lineFromTo {
              width: 330px;
              height: 1px;
              background-color: #1fa538;
            }
          }
        }
        .description {
          padding: 16px;
          .titleDescription{
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .wrapper {
    .welcome {
      min-height: 350px;
      .container {
        min-height: 350px;
        .textCol {
          padding: 150px 16px;
          h1 {
            font-weight: 900;
            font-size: 52px;
          }
          .desc {
            margin-top: 22px;
            font-size: 26px;
            line-height: 26px;
          }
        }
      }
    }
  }
}
