@import '@/styles/_base.scss';
// @import '~antd/dist/antd.less';
.appHeader {
  position: sticky;
  z-index: 9; //fixed_level 1
  top: 0;
  height: 72px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  background: $WHITE;
  border-bottom: 1px solid #858585;
  .logo {
    max-height: 44px;
    cursor: pointer;
  }
  .menu {
    display: none;
    flex: 1;
    flex-wrap: nowrap;
    justify-content: center;
    font-size: 18px;
    line-height: 24px;
    color: $GREY_COLOR;
    border-bottom: none;
    background: transparent;
    :global {
      .ant-menu-item {
        margin: 0 16px;
      }
      .ant-menu-item,
      .ant-menu-submenu {
        &::after {
          border: 0;
        }
        &:hover {
          &::after {
            border: 0;
          }
        }
      }
      .ant-menu-item-selected {
        &::after {
          border: 0;
        }
      }
      .ant-menu-item.ant-menu-item-active:active,
      .ant-menu-item-selected {
        color: $GREY_COLOR_HOVER;
      }
    }
  }
  .user {
    display: none;
    align-items: center;
    gap: 12px;
    height: 100%;
    font-size: 18px;
    line-height: 24px;
    color: $WHITE;
    cursor: pointer;
    .loginButton {
      color: $WHITE;
      font-weight: 400;
      width: 101px;
      background-color: $PRIMARY_DARK;
    }
    .userEmail {
      color: $WHITE;
      max-width: 200px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  .userMenu {
    .ant-dropdown-menu {
      padding-top: 100px;
    }
  }
  .menuButton {
    display: block;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
  }
}

.userMenu {
  :global {
    .ant-dropdown-menu {
      min-width: 240px;
      background: #0e1829;
      .ant-dropdown-menu-item {
        font-size: 16px;
        line-height: 22px;
        height: 40px;
        color: $WHITE;
      }
      .ant-dropdown-menu-item:hover.ant-dropdown-menu-item-active {
        background-color: $PRIMARY;
      }
      .ant-dropdown-menu-item:last-child {
        color: $SUNSET_ORANGE;
        &:hover.ant-dropdown-menu-item-active {
          color: $WHITE;
          background-color: $SUNSET_ORANGE;
        }
      }
    }
  }

  .userMenuItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.mobileMenuWrapper {
  .mobileMenuTitle {
    display: flex;
    align-items: center;
    gap: 8px;
    .title {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      .userEmail {
        color: $WHITE;
        max-width: 200px;
        font-size: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    .closeDrawer {
      margin-left: auto;
      color: $WHITE;
    }
  }
  :global {
    .ant-drawer-header {
      border-bottom: 1px solid $WHITE;
    }
    .ant-drawer-wrapper-body {
      background: $BG_PRIMARY;
    }
  }
  .mobileMenu {
    font-size: 18px;
    line-height: 24px;
    color: $WHITE;
    background: transparent;
    :global {
      .ant-menu-item.ant-menu-item-active:active,
      .ant-menu-item-selected {
        background-color: transparent;
      }
    }
  }
  .loginButton {
    background: $PRIMARY_DARK;
    color: $WHITE;
    font-weight: 700;
    margin-bottom: 8px;
    &:hover {
      background: $GREY_COLOR_HOVER;
      color: $WHITE;
    }
  }
  .registerButton {
    font-weight: 700;
    color: $WHITE;
    background: $BLUE_BELL;
    &:hover {
      background: $GREY_COLOR_HOVER;
      color: $WHITE;
    }
  }
  .logoutButton {
    width: 100%;
    background: $SUNSET_ORANGE;
    &:hover {
      box-shadow: 16px 20px 40px rgba($color: $SUNSET_ORANGE, $alpha: 0.5);
    }
    &:active {
      box-shadow: 16px -20px 40px rgba($color: $SUNSET_ORANGE, $alpha: 0.5);
    }
  }
}

@include desktop-device {
  .appHeader {
    .menu {
      display: flex;
    }
    .user {
      display: flex;
    }
    .menuButton {
      display: none;
    }
  }
}
